.dashBoard {
  display: flex;
  width: 60vw;
  margin-left: 2.25rem;
  justify-content: space-between;
  align-items: center;
}
input {
  border: none;
  margin-left: 20px;
}
.inp {
  border: 1px solid gainsboro;
  border-radius: 9999px;
  margin: 0.75rem;
  padding: 0.8rem;
}
.inp input:focus {
  outline: none;
}
.inp span {
  margin-left: 10px;
}
.inp span:hover {
  cursor: pointer;
}
.clientName {
  font-weight: bold;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-status {
  color: gray;
  margin-bottom: -18px;
}
.icons {
  font-size: 20px;
  margin-right: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 25%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.icons :hover {
  cursor: pointer;
}
.icons2 {
  background-color: yellow;
}
.icons3 {
  background-color: aquamarine;
}
.icons4 {
  background-color: gray;
}
.services {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-left: 2.25rem;
  margin-top: 2.25rem;
}
.client {
  margin-left: 2.25rem;
  margin-top: 2.25rem;
}
.clientList {
  display: flex;
  flex: 1;
  margin-top: 2.25rem;
}
.head {
  margin-left: 2.25rem;
  margin-top: 2.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.25rem;
}
.clientList th {
  color: rgb(141, 138, 138);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.clientList div {
  flex: 1;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  font-size: 30px;
}
.printer {
  margin-right: 20px;
}
.printer:hover {
  cursor: pointer;
  color: blueviolet;
}
.download:hover {
  cursor: pointer;
  color: blueviolet;
}
.clientDashboard {
  margin-left: 2.25rem;
  margin-top: 2.25rem;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.page {
  display: flex;
  justify-content: space-between;
  margin-left: 2.25rem;
  margin-top: 2.25rem;
  padding-bottom: 0.75rem;
  color: rgb(156, 149, 149);
  margin-right: 2.25rem;
}
.nxtPage {
  color: brown;
  font-weight: bold;
}
.nxtPage span {
  margin-left: 20px;
  color: brown;
  cursor: pointer;
}
.Nid {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  flex: 1;
}
.status {
  background-color: antiquewhite;
  font-weight: bold;
  padding: 6px;
  width: 5rem;
  border-radius: 9999px;
  border: none;
}
.clientImg {
  font-size: 40px;
  padding-right: 20px;
}
.clientId {
  color: gray;
}
.Unpaid {
  color: orangered;
  background-color: orange;
}
.Overdue {
  color: red;
  background-color: rgba(198, 170, 170, 0.769);
}
.paid {
  color: green;
  background-color: greenyellow;
}
.Draft {
  color: aliceblue;
  background-color: gray;
}
